/* src/index.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Uma fonte padrão */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh; /* Garante que o root preenche a altura da tela */
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1; /* Permite que o conteúdo principal cresça e empurre o footer para baixo, se houver */
}